@charset "UTF-8";
html, nav, header, body, section, article, aside, main, footer, h1, h2, h3, h4, h5, h6, p {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
html {
	background-color: #001217;
}
body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 960px;
	color: #E83297;
}

nav {
	margin-left: 0;
	margin-right: 0px;
	margin-bottom: 0 px;
	margin-top: 0px;
	padding-left: 0;
	padding-right: 0px;
	align-content: center;
}
header {
  background-image: url()
	width: 960px;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
}
nav a {
	width: 238px;
	height: 20px;
	display: block;
	background-color: #E83297;
	text-decoration: none;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #FFFFFF;
	float: left;
	font-size: 12pt;
}
a {
  color: #white;
  font-size: 12pt;
}
a:hover {
	background-color: #CFDB24;
	color: #EA3192;
}
.navborder {
	border-right: thin solid #FFFFFF;
}

footer {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: 90px;
	background-image: url(Images/footer_02.jpg);
	background-repeat: no-repeat;
	clear: both;
}
.navnoborder {
	border-right: thin solid #E83297;
}
.aboutme {
	background-color: #02AAD1;
}
.portfolio {
	background-color: #7DC242;
}
.contact {
	background-color: #364DA2;
}
p {
	color: #white;
	width: 500px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 12pt;
	padding-top: 55px;
	padding-left: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 24pt;
	color: #02AAD1;
	text-align: center;
}
h2 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 18pt;
	color: #CFDB24;
	text-align: center;
}
article {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-left: 0%; 
	padding-right:0%;

}
.ppadding {
	padding-top: 0px;
	color: #CFDB24;
	text-indent: 35px;
	text-align: center;
}
aside {
	width: 480px;
}
.contactpadding {
	padding-top: 100px;
}
